body {
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  z-index: 2;
}

#canvas2 {
  z-index: 1;
}